extends base

block body
    h1 Tales of Tessalonia
    p Welcome traveler from an antique land. Please sit and tell us of what you have seen. The unheard of monsters, who slither and bite. Tell us of the wondrous items and and artifacts you have found, their mysteries yet to be unlocked. Of the vexing vocations and surprising skills you have seen.

    h2 Organizational notes

    h3 Help and design reference
    p List of technologies and design reference can be found at #[a(href=url_for('help')) help] page.


